# <div class = "alert alert-info"> <font color = purple> Chapter 04 - Collection Data Types 2: Tuples

## 4.2 Tuples

A Tuple is a collection of Python objects which is **immutable**, i.e. not modifiable after creation.

### 4.2.1 Mutability

In Python, mutability refers to the ability of an object to be changed after it has been created. 

Objects that are mutable can be modified in-place, meaning that their values can be updated without creating a new object. Conversely, objects that are immutable cannot be changed once they are created.


Mutable objects include lists, dictionaries, sets, and some custom-defined objects. Immutable objects include strings, tuples, and numbers (integers, floats, and complex numbers)

In [ ]:
# Lists are mutable

my_list = [1, 2, 3]
print(my_list)  # prints [1, 2, 3]

my_list[0] = 4
print(my_list)  # prints [4, 2, 3]

my_list[2] = 8
print(my_list)  # prints [4, 2, 8]

- In the above example, observe that the elements in `my_list` can be changed internally by assigning a new value to the element by locating the existing value using list-indexing.


- Here `my_list` has been modified and no new list is created. 


- This is an example of modifying in-place without creating a new object

In [ ]:
# Strings are immutable

my_string = "hello"
my_string[0] = "H"  # Raises TypeError: 'str' object does not support item assignment

- In the above example, attempting to replace the lower case `h` with an upper case `H` results in an error.


- This is an example of an object that cannot be modified after creation.


- The only way to create the word `Hello` is to create a new string object e.g. `my_string_2 = Hello`.

It's important to understand mutability in Python because it affects how you can manipulate objects and how they behave when passed to functions or assigned to variables. If you pass a mutable object to a function, any changes made to the object within the function will also affect the object outside the function, whereas immutable objects will not be affected.

### 4.2.2. Creating a Tuple

A tuple can be created with a collection of items by surrounding it with parentheses **"( )"**, seperating each item in the collection with a comma **","**.

* To create an empty tuple, use `()`
* To create a single-item tuple, it is mandatory to add **comma `,`** behind the element. E.g. `tup = (3,)`

In [2]:
# Create a tuple t with values 1, 2, 3, 4.
# Print the tuple and its data type.

t = (1, 2, 3, 4)
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

In [6]:
l1 = [1]
t1 = (1, ) #Without the comma, python think u are referring to the outer bracket for maths
type(t1)

tuple

In [3]:
# Parentheses is optional unless it is to create an empty tuple.
t1 = 1, 2, 3, 4
type(t1)

tuple

A tuple can also be created using from a list data type using the `tuple()` constructor function. The same applies for a string.

In [8]:
# Create a tuple from the list [1,2,3].
t2 = tuple([1, 2, 3])
t2

(1, 2, 3)

In [ ]:
# What happens if you apply the tuple() constructor function on a string 'Good day!'
my_string = 'Good Day!'
t3 = tuple(my_string)

Python collection data types allow mix data types in the same collection. 
Just like a list data type, we can also create a tuple with items of different data types, although this is not commonly used.

In [10]:
# Create a tuple with the items 'apple', 3.0, 'banana', 4
t4 = ('apple', 3.0, 'banana', 4)
t4

('apple', 3.0, 'banana', 4)

Just like a list, a tuple can contain other tuples as its elements. Such tuples are called nested tuples.

In [14]:
# Create a tuple nested with items 0, 1, (2, 3, 4), (5, 6)
# What is the length of the above tuple?
t5 = (0, 1, (2, 3, 4), (5, 6))
len(t5)

4

### 4.2.3 Accessing Elements

Just like strings and lists, indexing can be used to access items in a tuple.

In [16]:
# Create a tuple ('apple', 'banana', 'cherry', 'durian') and assign it to the variable fruits
# Print out 2nd and 4th item in the tuple using positive indexing
# Repeat the process using negative indexing
fruits = ('apple', 'banana', 'cherry', 'durian')

print(fruits[1], fruits[3])
print(fruits[-3], fruits[-1])

banana durian
banana durian

For nested tuples, we can access items by multi-level indexing as well.

In [21]:
# Create a tuple nested with items 0, 1, (2, 3, 4), (5, 6).
# How do you access value 4 and 5?
tuple__ = (0, 1, (2, 3, 4), (5, 6))
print(tuple__[2][2], ',', tuple__[3][0])

4 , 5

In [24]:
# Can the above be applied for nested lists?
# What about a tuple containing lists?
# What then about a list containing tuples?
nested_list = [1, 2, [3, 4, 5, [10, 11, 12]], [6, 7, 8]]
nested_list[2][3][2] #Yay it works!

tuple_with_list = (1, 2, [3, 4, 5])
tuple_with_list[2][2] #Yay it works!

5

### 4.2.4 Slicing

In [25]:
# Try out following code.

num = tuple(range(10))
print(num)

# Get item with index 2 to 4
print(num[1:4])

# Get first 5 items
print(num[:5])


# Get from item with index = 5 onwards
print(num[5:])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)

In [28]:
# Repeat the above processes with negative indices for the upper limit where appropriate

# Get item with index 2 to 4
print(num[1-10:4-10])

# Get first 5 items
print(num[:-5])

# Get from item wit index = 5 onwards
print(num[-5:])

(1, 2, 3)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)

In [38]:
# Consider the tuple num = (0,1,2,3,4,5,6,7,8,9)

# Get the last 3 items
print(num[-3:])

# Ignore the last 3 items
print(num[:-3])


# Strip first and last items from a tuple
print(num[1:-1])

(7, 8, 9)
(0, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)

### 4.2.4 Tuple Operations

Consider the tuple num = (0,1,2,3,4,5,6,7,8,9)

In [ ]:
# Find the length
print(len(num))


# Find the minimum
print(min(num))

# Find the maximum
print(max(num))

# Find the sum
print(sum(num))

In [3]:
# Can you reverse a tuple directly? 
l1 = [1, 2, 3, 4, 5]
l2 = reversed(l1)
print(l2)

t1 = (1, 2, 3 , 4, 5)
t2 = t1.sort()
print(t2)

<list_reverseiterator object at 0x000001CE27E00518>

AttributeError: 'tuple' object has no attribute 'sort'

In [5]:
# How can you obtain a reversed tuple?
t1 = (1, 2, 3 , 4, 5)
t2 = tuple(reversed(t1))
print(t2)

(5, 4, 3, 2, 1)

In [42]:
# Can you sort a tuple directly?
t1 = (5, 2, 3, 4, 1)
t2 = tuple(sorted(t1))
t2

[1, 2, 3, 4, 5]

In [2]:
# How can you obtain a sorted tuple?
l1 = [5, 2, 3, 4, 1]
print(l1.sort())
t1 = tuple(l1)
t1 = tuple(sorted(t1))
print(t1)

(1, 2, 3, 4, 5)

What's the minimum and the maximum value of tuple poly = ('np', 'sp', 'tp', 'rp', 'nyp')?

In [8]:
t1 = ('np', 'sp', 'tp', 'rp', 'nyp')

# Following Ascii values, goes in alphabetical order
min(t1)
max(t1)

'tp'

Sort the items in ('duck', 'chicken', 'goose') by length of element

In [39]:
# Checking Values in the tuple with any() and all() function
t1 = (1, 2, 3, 4, 5, 1, False)

# Python evaluates following values as False
# (a) False
# (b) None
# (c) Numeric zero of all types
# Empty strings and containers (including strings, tuples, lists, dictionaries, sets and frozensets)
# any() function returns True if any item in tuple (collection) is evaluated True.


print(any(t1)) # Returns True if since the iterable has a value that is does not evaluate as False
print(any((0, 0, 0, 0)))
print(any(tuple([]))) # Returns False since the iterable is empty (empty strings and containers)

# all() function returns True if all items in tuple (collection) is evaluated True.
print(all(t1)) # Similar to all, but checks if all the values in the iterable can be converted to False
print(all(tuple([])))

birds = ('duck', 'chicken', 'goose')
birds = tuple(sorted(birds, key=len)) # Tuple sorting is just creating a new list that give the required stuff of the tuple
birds

True
False
False
False
True

('duck', 'goose', 'chicken')

In [21]:
# How to concatenate 2 tuples?
t1 = (1, 2, 3, 4, 5)
t1 += birds
print(t1)
# How to concatenate repetitions of a tuple?
t1 += birds*3
print(t1)

(1, 2, 3, 4, 5, 'duck', 'goose', 'chicken')
(1, 2, 3, 4, 5, 'duck', 'goose', 'chicken', 'duck', 'goose', 'chicken', 'duck', 'goose', 'chicken', 'duck', 'goose', 'chicken')

In [47]:
help(t1.index)

Help on built-in function index:

index(...) method of builtins.tuple instance
    T.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [51]:
# How to obtain the index of an item in a tuple?
t1.index(1)

# What happens if there is more than one item?
# .index(value, start from, stop at)

t1 = (1, 1, 1, 2, 3, 4, 5)
t1.index(1, 2) # Returns the first index where the item exists

2

In [66]:
# Using enumerate()
for index , item in enumerate(t1):
    print(f'|Index {index:<10}|{item:<10}|')
    print('-'*29)

|Index 0         |1         |
-----------------------------
|Index 1         |1         |
-----------------------------
|Index 2         |1         |
-----------------------------
|Index 3         |2         |
-----------------------------
|Index 4         |3         |
-----------------------------
|Index 5         |4         |
-----------------------------
|Index 6         |5         |
-----------------------------

In [74]:
# Tuple assignment, unpacking and swapping


# Assignment
x, y, z = 1, 2, 3
print(x, y, z)


# Unpacking
times = '9am to 5pm to 6pm to 8pm'.split(' to ')
print(times)
start, _, _, end = tuple(times)
print(start, end)


# Swapping
x = 10
y = 20
print(f'x = {x}, y = {y}')
x, y = y, x
print(f'x = {x}, y = {y}')

1 2 3
['9am', '5pm', '6pm', '8pm']
9am 8pm
x = 10, y = 20
x = 20, y = 10

In [59]:
# Use * to hold any number of unpacked values.

# For example, from a tuple, you would like to get its last item, and put all other items in a list.

t = (1,2,3,4,5)
# a,b =t
*a, b = t
print(a, b)

# How to extract only first and last items from a tuple (1,2,3,4,5).
t = (1,2,3,4,5)

a,*b,c=t
print(a, b, c)

[1, 2, 3, 4] 5
1 [2, 3, 4] 5