In [1]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\program files\python37\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\program files\python37\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\program files\python37\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in c:\program files\python37\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\program files\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# Manipulating Data with Pandas! <br><img src = 'https://files.worldwildlife.org/wwfcmsprod/images/Panda_in_Tree/hero_small/99i33zyc0l_Large_WW170579.jpg'>
<h3> <a href= 'https://www.example.com'>Please refer to this dataset</a> as we will be using this dataset for the exercises below </h3>

<h3> Exercise 1a. </h3>
<p> When you open up the dataset, it looks quite dirty, with many rows having the order number replaced by "Imagine having no order number" etc. </p> 

1. Your first task would be to clear all rows with empty values in ```'PRODUCTCODE', 'ADDRESSLINE1'```,
2. avoid clearing the rows with empty values in ```'STATE'```,
3. and replace all the ```"Imagine having no order number"``` under ```'ORDERNUMBER'``` with ```10000```,
4. replace all the empty values under ```'STATUS'``` with ```'To check'```
5. Lastly, save into a new file called ```'sales_data_cleaned.csv'```</p>

In [3]:
# Your code here

import pandas as pd


sales_data_dirty = pd.read_csv('./sales_data_dirty.csv')


sales_data_dirty.dropna(subset = ['PRODUCTCODE', 'ADDRESSLINE1'], axis= 0, inplace=True)
sales_data_dirty['STATUS'].fillna('To check', inplace=True)

sales_data_dirty['ORDERLINENUMBER'].str.replace('Imagine having no order number', '10000')


sales_data_dirty.drop('Unnamed: 0', axis= 1).to_csv('./sales_data_cleaned.csv')

AttributeError: Can only use .str accessor with string values!

<h3> Congratulations on finishing your first task! </h3>
<h4> Your csv file should look like this: </h4>

<img src='https://github.com/python-noob-dotcom/Computing-notes/raw/8c1416fd57990ed35931c7db361b3036f75810df/Practices/bbcs_testing/dataset_exercise_1.png'>

<h4> as the values are clean now </h4>

While cleaning the data, you noticed that there are some roews with a missing price each value

### Exercise 1b:
1. Using the ```.agg()``` method, retrieve the mean ```'PRICEEACH'```,
2. and replace the empty values in the row with the mean

In [ ]:
# Your code here

sales_data = pd.read_csv('./sales_data_cleaned.csv', encoding= 'utf-8')

sales_data['PRICEEACH'].fillna(sales_data['PRICEEACH'].mean(), inplace=True)

sales_data.to_csv('./sales_data_cleaned.csv')

<h3> Exercise 2.</h3>
<p> Your boss then asks you to group the rows with the same STATUS together</p>
Group the rows with the status

```'Shipped', 'Disputed', etc together.```

In [5]:
# Your code here

import pandas as pd

sales_data = pd.read_csv('./sales_data_cleaned.csv', encoding= 'utf-8')

sales_data_grouped_by_status = sales_data.groupby('STATUS')
sales_data_grouped_by_status.head()

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
1,11,10237,23,100.00,7,2333.12,4/5/2004 0:00,Shipped,2,4,...,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,NaN,Frick,Michael,Small
2,13,10263,34,100.00,2,3676.76,6/28/2004 0:00,Shipped,2,6,...,25593 South Bay Ln.,NaN,Bridgewater,CT,97562,USA,NaN,King,Julie,Medium
3,17,10309,41,100.00,5,4394.38,10/15/2004 0:00,Shipped,4,10,...,Erling Skakkes gate 78,NaN,Stavern,NaN,4110,Norway,EMEA,Bergulfsen,Jonas,Medium
4,19,10329,42,100.00,1,4396.14,11/15/2004 0:00,Shipped,4,11,...,897 Long Airport Avenue,NaN,NYC,NY,abc,USA,NaN,Yu,Kwai,Medium
29,131,10414,19,100.00,3,2764.88,5/6/2005 0:00,On Hold,2,5,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Small
30,137,10164,21,100.00,2,3536.82,10/21/2003 0:00,Resolved,4,10,...,Kirchgasse 6,NaN,Graz,NaN,8010,Austria,EMEA,Mendel,Roland,Medium
80,353,10253,25,90.17,14,2254.25,6/1/2004 0:00,Cancelled,2,6,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
114,499,10422,51,95.55,2,4873.05,5/30/2005 0:00,In Process,2,5,...,7586 Pompton St.,NaN,Allentown,PA,70267,USA,NaN,Yu,Kyung,Medium
124,547,10367,49,56.30,1,2758.70,1/12/2005 0:00,Resolved,1,1,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Small
128,563,10262,49,100.00,9,6567.96,6/24/2004 0:00,Cancelled,2,6,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
129,569,10327,25,100.00,6,2804.75,11/10/2004 0:00,Resolved,4,11,...,Vinb'ltet 34,NaN,Kobenhavn,NaN,1734,Denmark,EMEA,Petersen,Jytte,Small
139,611,10253,23,83.93,9,1930.39,6/1/2004 0:00,Cancelled,2,6,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
159,697,10367,45,100.00,4,8884.80,1/12/2005 0:00,Resolved,1,1,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Large
171,751,10420,45,100.00,2,4977.00,5/29/2005 0:00,In Process,2,5,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
177,779,10425,19,49.22,10,935.18,5/31/2005 0:00,In Process,2,5,...,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small
182,799,10386,21,74.77,18,1570.17,3/1/2005 0:00,Resolved,1,3,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small

### Congratulations on completing your second exercise! Your dataset should look like this:

<image src = ''>

### Exercise 3

Create a new column `'Total revenue'` containing the total amount of revenue (quantity * price) collected by the company

In [14]:
# Your code here
ttl_revenue = 0

for index, row in sales_data.iterrows():
    if row['PRICEEACH'] == float('NaN') or row['QUANTITYORDERED'] == float('NaN'):
        continue

    ttl_revenue += int(row['QUANTITYORDERED']) * int(row['PRICEEACH'])

sales_data_with_ttl_revenue = sales_data
sales_data_with_ttl_revenue['Total revenue'] = ttl_revenue
print(ttl_revenue)

ValueError: cannot convert float NaN to integer

### Exercise 4

Find the top 5 top selling products based on the total sales (quantity sold)

In [ ]:
# Your code here

product_sales = sales_data.groupby('PRODUCTLINE')['QUANTITYORDERED'].sum().reset_index()

top_selling = product_sales.sort_values(by = 'QUANTITYORDERED', ascending = False)

top_selling.head()