# Manipulating Data with Pandas! <br><img src = 'https://files.worldwildlife.org/wwfcmsprod/images/Panda_in_Tree/hero_small/99i33zyc0l_Large_WW170579.jpg'>
<h3> <a href= 'https://www.example.com'>Please refer to this dataset</a> as we will be using this dataset for the exercises below </h3>

<h3> Exercise 1. </h3>
<p> When you open up the dataset, it looks quite dirty, with many rows having the order number replaced by "Imagine having no order number" etc. </p> 

1. Your first task would be to clear all rows with empty values in ```'PRODUCTCODE', 'ADDRESSLINE1'```,
2. avoid clearing the rows with empty values in ```'STATE'```,
3. and replace all the ```"Imagine having no order number"``` under ```'ORDERNUMBER'``` with ```10000```,
4. replace all the empty values under ```'STATUS'``` with ```'To check'```
5. Lastly, save into a new file called ```'sales_data_cleaned.csv'```</p>

In [45]:
# Your code here

import pandas as pd


sales_data_dirty = pd.read_csv('./sales_data_dirty.csv')


sales_data_dirty.dropna(subset = ['PRODUCTCODE', 'ADDRESSLINE1'], axis= 0, inplace=True)
sales_data_dirty['STATUS'].fillna('To check', inplace=True)

sales_data_dirty['ORDERLINENUMBER'].str.replace('Imagine having no order number', '10000')


sales_data_dirty.drop('Unnamed: 0', axis= 1).to_csv('./sales_data_cleaned.csv')

<h3> Congratulations on finishing your first task! </h3>
<h4> Your csv file should look like this: </h4>

<img src='https://github.com/python-noob-dotcom/Computing-notes/raw/8c1416fd57990ed35931c7db361b3036f75810df/Practices/bbcs_testing/dataset_exercise_1.png'>

<h4> as the values are clean now </h4>

While cleaning the data, you noticed that there are some roews with a missing price each value

### Exercise 2:
1. Using the ```.agg()``` method, retrieve the mean ```'PRICEEACH'```,
2. and replace the empty values in the row with the mean

In [42]:
# Your code here

sales_data = pd.read_csv('./sales_data_cleaned.csv', encoding= 'utf-8')

sales_data['PRICEEACH'].fillna(sales_data['PRICEEACH'].mean(), inplace=True)

sales_data.to_csv('./sales_data_cleaned.csv')

<h3> Exercise 2.</h3>
<p> Your boss then asks you to group the rows with the same STATUS together</p>
Group the rows with the status

```'Shipped', 'Disputed', etc together.```

In [ ]:
# Your code here

import pandas as pd

### Congratulations on completing your second exercise! Your dataset should look like this:

<image src = ''>