In [30]:
import pandas as pd


via_hour_allocations = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRjhGr62zj6PxLZD2Wvln7fqB8HGo75tJnFFsIy1gKfNGHiNxL_V4e-dGStzB8vu4xIMvGsKIfuQKmI/pub?gid=1268994803&single=true&output=csv')

via_hour_allocations.loc[:, 'Your gender':'For the month of']

,Your gender,Name in Full (as in NRIC),"School/Institution Initials (e.g. NUSH, TJC)",Your Role in BuildingBloCS,Hours to be awarded,For the month of
0,Male,Neil Bhandari,VJC,QA Lead,3:00:00,January 24
1,Female,Yu Chengxin Sindya,RVHS,"Adshop, QA",4:00:00,February 24
2,Female,Asha Meredith Solomon,TJC,"Adshop, Pubs and Design, Outreach Lead",2:00:00,January 24
3,Male,Lim Jack,TJC,QA,10:00:00,February 24
4,Female,Trisha Soon Cui Lin,ASRJC,Pubs and Design,8:00:00,January 24
...,...,...,...,...,...,...
1130,NaN,NaN,NaN,NaN,NaN,NaN
1131,NaN,NaN,NaN,NaN,NaN,NaN
1132,NaN,NaN,NaN,NaN,NaN,NaN
1133,NaN,NaN,NaN,NaN,NaN,NaN
1134,NaN,NaN,NaN,NaN,NaN,NaN

:

In [19]:
# Helper class to add all the hours up for each individual name
from datetime import datetime

class organiser:
    def __init__(self, name):
        self.name = name
        self.hours = 0
        self.sheet = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRjhGr62zj6PxLZD2Wvln7fqB8HGo75tJnFFsIy1gKfNGHiNxL_V4e-dGStzB8vu4xIMvGsKIfuQKmI/pub?gid=1268994803&single=true&output=csv')

    def total_hours(self):

        def convert_hours(time):
            hour, minute, second = time.split(':')

            total_hours = int(hour) + int(minute) / 60 + int(second) / 3600
            
            return total_hours
        
        for index, row in self.sheet.iterrows():
            if row['Name in Full (as in NRIC)'] == self.name and row['Verified']:
                time = row['Hours to be awarded']
                self.hours += convert_hours(time)
        
        return self.hours
    

names = ['Asha Meredith Solomon', 'Ang Jin Seng Eugene']
objs = []

for name in names:
    objs += [organiser(name)]

for obj in objs:
    print(obj.name, obj.total_hours())

Asha Meredith Solomon 2.0
Ang Jin Seng Eugene 50.0

In [19]:
import random

lst = ['alen', 'eugene', 'asha','ashley', 'teng yin', 'kushat', 'clarisse', 'elise', 'mufaddal', 'jovn', 'harshith', 'kashvi', 'jia heng', 'jack', 'lee young', 'jerlyn', 'lucas', 'marc', 'truong', 'andrel', 'saamiya', 'samyak', 'jia xuan', 'bing chuan']

a = []
for i in range(5):
    
    for i in range(3):
        b = random.choice(lst)
        if b not in a:
            print(f'{i}: {b}')

        a += [b]

0: lee young
1: mufaddal
2: truong
0: kashvi
2: saamiya
0: jia heng
0: kushat
1: samyak
0: eugene
1: jerlyn