In [10]:
with open('./TASK1_1.sql') as f:
    statements = f.read().replace('\n', '').replace('\t', ' ').split(';')[:-1]

import sqlite3

with sqlite3.connect('./equipment.db') as conn:
    cur = conn.cursor()

    try:
        for statement in statements:
            cur.execute(statement)

        conn.commit()
        
    except sqlite3.Error:
        print('SQL error')
        conn.rollback()

    except:
        print('Regular error')
        conn.rollback()

In [41]:
import sqlite3

with open('./LAPTOPS.txt') as laptops:
    laptop = laptops.read().split('\n')

with open('./MONITORS.txt') as monitors:
    monitor = monitors.read().split('\n')

with open('./PRINTERS.txt') as printers:
    printer = printers.read().split('\n')

with sqlite3.connect('./equipment.db') as conn:

    cur = conn.cursor()

    try:
        cur.execute('BEGIN TRANSACTION')
        statement = 'INSERT INTO Device (serial_number, type, model, location, date_of_purchase, written_off) VALUES (?, ?, ?, ?, ?, ?)'
        statement_monitor = 'INSERT INTO Monitor (serial_number, date_cleaned) VALUES (?, ?)'
        statement_laptop = 'INSERT INTO Laptop (serial_number, weight_kg) VALUES (?, ?)'
        statement_printer = 'INSERT INTO Printer (serial_number, toner, date_changed) VALUES (?, ?, ?)'

        for lap in laptop[:-1]:
            lap = lap.split(',')
            lap.insert(1, 'Laptop')
            lap[0] = int(lap[0])
            lap_2 = tuple(lap)[:6]
            cur.execute(statement, lap_2)
            cur.execute(statement_laptop, (lap[0], float(lap[6])))

        for mon in monitor[:-1]:
            mon = mon.split(',')
            mon.insert(1, 'Monitor')
            mon[0] = int(mon[0])
            mon_2 = tuple(mon)[:6]
            cur.execute(statement, mon_2)
            cur.execute(statement_monitor, (mon[0], mon[6]))

        for prin in printer[:-1]:
            prin = prin.split(',')
            prin.insert(1, 'Printer')
            prin[0] = int(prin[0])
            prin_2 = tuple(prin)[:6]
            cur.execute(statement, prin_2)
            cur.execute(statement_printer, (prin[0], prin[6], prin[7]))

        conn.commit()

        

    except sqlite3.Error:
        print('Sql error')
        conn.rollback()

    except:
        print('Error')
        conn.rollback()

IntegrityError: UNIQUE constraint failed: Device.serial_number

In [3]:
# Task 1.3
import sqlite3

with open('./TASK1_3.sql') as statement:
    query = statement.readline()

with sqlite3.connect('./equipment.db') as conn:

    cur =  conn.cursor()

    res = cur.execute(query).fetchall()

for r in res:
    print(r)

(11111, 'Make1', 'Office 11')
(13498, 'Dill', 'Office 89')
(14275, 'VG', 'Office 87')
(22222, 'Make2', 'Office 12')
(28939, 'VG', 'Office 74')
(33213, 'Sammon', 'Office 94')
(33333, 'Make3', 'Office 13')
(41792, 'Dill', 'Office 74')
(41928, 'VG', 'Office 99')
(42172, 'Sammon', 'Office 48')
(46384, 'Dill', 'Office 57')
(58449, 'VG', 'Office 92')
(60516, 'VG', 'Office 43')
(72165, 'VG', 'Office 99')
(77760, 'VG', 'Office 78')
(78453, 'Dill', 'Office 95')
(85237, 'Sammon', 'Office 38')
(98791, 'Dill', 'Office 73')

In [7]:
import sqlite3 

with sqlite3.connect('./equipment.db') as conn:
    cursor = conn.cursor()
    location = input('What devices do you want from which office?: ')
    statement = "SELECT D.serial_number, Typ    e, Location FROM Device AS D WHERE D.Location = ?"
    res = cursor.execute(statement, (location,)).fetchall()

    print(f"{'Serial Number':<15} | {'Type':<15} | {location:<15}")
    print('_'*70)
    for result in res:
        print(f'{result[0]:<15} | {result[1]:<15} | {result[2]:<15}')

Serial Number   | Type            | Office 11
______________________________________________________________________
11111           | Monitor         | Office 11