In [12]:
import sqlite3

with sqlite3.connect(r'C:\Users\eugen\Desktop\Computing_notes\Computing-notes\Journey_to_A\Past Year Papers\2023 A level\TESTDATABASE.db') as conn:
    cursor = conn.cursor()

    cursor.execute("BEGIN TRANSACTION")

    cursor.execute('CREATE TABLE IF NOT EXISTS "Class" (\
	"ClassName"	TEXT,\
	"YearGroup"	INTEGER,\
	PRIMARY KEY("ClassName")\
    );')

    cursor.execute('CREATE TABLE IF NOT EXISTS "Student" (\
	"StudentID"	INTEGER,\
	"GivenName"	TEXT,\
	"FamilyName"	TEXT,\
	"ClassName"	TEXT,\
	FOREIGN KEY("ClassName") REFERENCES "Class"("ClassName"),\
	PRIMARY KEY("StudentID")\
    );')

    cursor.execute('CREATE TABLE IF NOT EXISTS "Test" (\
	"TestID"	TEXT,\
	"MaxMarks"	INTEGER,\
	PRIMARY KEY("TestID")\
    );')

    cursor.execute('CREATE TABLE IF NOT EXISTS "Student_Test" (\
	"StudentTest_ID"	INTEGER,\
	"StudentID"	INTEGER,\
	"TestID"	TEXT,\
	"Mark"	INTEGER,\
	"DateTest"	TEXT,\
	FOREIGN KEY("TestID") REFERENCES "Test"("TestID"),\
	FOREIGN KEY("StudentID") REFERENCES "Student"("StudentID"),\
	PRIMARY KEY("StudentTest_ID")\
    );')

    conn.commit()

In [15]:
import sqlite3

with sqlite3.connect(r'C:\Users\eugen\Desktop\Computing_notes\Computing-notes\Journey_to_A\Past Year Papers\2023 A level\TESTDATABASE.db') as conn:
    cursor = conn.cursor()

    cursor.execute("INSERT INTO Class VALUES (?, ?)", ('CS3', 12))
    cursor.execute("INSERT INTO Student VALUES (?, ?, ?, ?)", (102, 'Mary', 'Lim', 'CS3'))
    cursor.execute("INSERT INTO Test VALUES (?, ?)", ('PG1', 100))
    cursor.execute("INSERT INTO Student_Test VALUES (?, ?, ?, ?, ?)", (123, 102, 'PG1', 85, '01/02/2023'))

    conn.commit()