In [1]:
import sqlite3

with sqlite3.connect('./LIBRARY.db') as conn:
    cursor = conn.cursor()

    cursor.execute('CREATE TABLE IF NOT EXISTS "Book" (\
	"BookID"	INTEGER,\
	"Title"	TEXT,\
	"Genre"	TEXT,\
	PRIMARY KEY("BookID")\
    );\
                   ')
    
    cursor.execute('CREATE TABLE IF NOT EXISTS "Member" (\
	"MemberNumber"	INTEGER,\
	"FamilyName"	TEXT,\
	"GivenName"	TEXT,\
	PRIMARY KEY("MemberNumber")\
    );')

    cursor.execute('CREATE TABLE IF NOT EXISTS "Loan" (\
	"LoanID"	INTEGER,\
	"MemberNumber"	INTEGER,\
	"BookID"	INTEGER,\
	"DateLoaned"	TEXT,\
	"Returned"	TEXT,\
	FOREIGN KEY("BookID") REFERENCES "Book"("BookID"),\
	PRIMARY KEY("LoanID"),\
	FOREIGN KEY("MemberNumber") REFERENCES "Member"("MemberNumber")\
    );')

    conn.commit()

In [2]:
with sqlite3.connect('./LIBRARY.db') as conn:
    cursor = conn.cursor()
    cursor.execute("BEGIN TRANSACTION")
    with open('./BOOK.txt') as f:
        query = 'INSERT INTO Book VALUES (?, ?, ?)'
        for line in f:
            line = line.strip().split(',')
            cursor.execute(query, tuple(line))

    with open('./MEMBER.txt') as f:
        query = 'INSERT INTO Member VALUES (?, ?, ?)'
        for line in f:
            line = line.strip().split(',')
            cursor.execute(query, tuple(line))

    with open('./LOAN.txt') as f:
        query = 'INSERT INTO Loan VALUES (?, ?, ?, ?, ?)'
        for line in f:
            line = line.strip().split(',')
            cursor.execute(query, tuple(line))

    conn.commit()

In [4]:
# Task 4.3

def main():
    userin = input('Enter a member number: ')

    while not userin.isdecimal():
        userin = input('Enter a member number: ')

    with sqlite3.connect('./LIBRARY.db') as conn:
        cursor = conn.cursor()

        query = 'SELECT Title, Returned FROM Loan INNER JOIN Book on Loan.BookID = Book.BookID WHERE Loan.MemberNumber = ?'
        print(cursor.execute(query, (int(userin),)).fetchall())

main()

[('Monkey puzzle', 'FALSE'), ('Contemplating Camelias', 'FALSE'), ('Sandy shores', 'FALSE'), ('Propogation', 'TRUE')]